* {
    background-color: antiquewhite;
    display: ;
}

.title {
    font-family: 'Times New Roman', Courier, monospace;
    color: brown;
    font-weight: bold;
    text-align: center;
}

.list-of-recipes {
    color: chocolate;
}

li {
    color: black;
}

a {
    color: black;
}

ul {
    margin: auto;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

ol {
    margin: auto;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    margin: auto;
}

.image-div {
    text-align: center;
}

#firstRecipe {
    flex: 1;
    align-self: flex-start;
}

#secondRecipe {
    flex: 1;
    align-self: flex-start;
}

#thirdRecipe {
    flex: 1;
    align-self: flex-start;
}