* {
    background-color: antiquewhite;
    display: ;
}

.title {
    font-family: 'Times New Roman', Courier, monospace;
    color: brown;
    font-weight: bold;
    text-align: center;
}

.list-of-recipes {
    color: chocolate;
}

li {
    color: black;
    ;
}

a {
    color: black;
}

ul {
    margin: auto;
    padding: 20px;
}

img {
    margin: auto;
}

.image-div {
    text-align: center;
}